@page "/"

<PageTitle>Лавка Шаурмы</PageTitle>

<div class="container">
    <h1 class="text-center mb-4">Добро пожаловать в нашу лавку шаурмы!</h1>
    
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Покупатели</h5>
                    <p class="card-text">Управление информацией о покупателях</p>
                    <a href="/customers" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Продавцы</h5>
                    <p class="card-text">Управление информацией о продавцах</p>
                    <a href="/sellers" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Шаурма</h5>
                    <p class="card-text">Управление ассортиментом шаурмы</p>
                    <a href="/shawarmas" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Заказы</h5>
                    <p class="card-text">Управление заказами</p>
                    <a href="/orders" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
